*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
 }
 .head-box{
     width: 100%;
     position: fixed;
     top: 0;
     z-index: 99;
 }

 .line-box{
     width: 100%;
     background-color: #262626;
     border-bottom: 2px solid black ;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 40px;
 
 }
 .line-box img{
    height: 18px;
    width: 152px;
    top: 18px;

    
 }
 .box2{
    width: 70px;
    height: 35px;
    background-color: #82b440;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #82b440;
    border-radius: 5px;
 }
 .box2 a{
     color: white;
   
     
 }

 .box2:hover{
     transition: 0.2s;
     opacity: 0.9;
 }
 .header{
     width: 100%;
     background-image: url(background-header.jpg);
     height: 130px;
     background-size: cover;
     display: flex;
     justify-content: space-around;
     align-items: center;
    
     
     
 }

 .header ul{
   display: flex;
    
 }
 .header ul a{
     font-size: 19px;
     color: white;
     padding: 30px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .header img{
     width: 150px;
     height: 180px;
     margin-top: 53px;
     
 }
 .header ul a:hover{
     color: #e99b36;
 }

 .welcome-box{
     width: 100%;
     height: 800px;
     background-image: url(./focused-gamers-playing-video-game.jpg);
     background-size: cover;
     margin-top: 100px;
     
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 
 .welcome-box-inner{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }
 .welcome-box-inner h5{
     color: white;
     font-size: 17px;
     margin-bottom: 20px;
     margin-top: 150px;

 }
 .welcome-box-inner h1{
     color: white;
     font-weight: 700;
     font-size: 40px;
     text-align: center;
     padding: 0 300px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    .search-button{
        width: 120px;
        height: 50px;
        border: 1px solid rgb(11, 150, 192);
        padding: 13px 15px 10px 19px;
        background-color: rgb(11, 150, 192);
        border-radius: 5px;
        transform: rotate(0deg);
        margin-top: 30px;
    }
    .search-button a{
        color: white;
        font-size: 18;
    }
    .search-button:hover{
        background-color: coral;
        transform:rotate(360deg);
        transition: 0.8s;
        border:1px solid coral;
        
    }
   
    .welcome-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .welcome-box-photo{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .welcome-photo{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        margin-top: 150px;
        

    }
    .welcome-photo-inner{
        width: 280px;
        height: 180px;
        margin: 0 20px 0 0 ;
    }
    .welcome-photo img{
        width: 100%;
        height: 100%;
        
    }

    .container1{
        width: 100%;
        height: 200px;
        background-image: url(./background-footer.jpg);
        padding: 0 80px;
       padding-top: 50px;
    }
    .logo-box{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo-box-inner{
        width: 200px;
        height: 150px;
        
        
        
    }
    .logo-box-inner img{
        width: 100%;
        height: 100%;
        padding: 10px 10px;
    }

    .container2{
        width: 100%;
        height: 500px;
        background-image: url(./background-gradient.jpg);
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }
    .container2-text{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        text-align: center;
        padding: 0 150px 0 200px;
    }

    .container2-photo{
        width: 600px;
        height: 400px;
        
        margin-right: 40px;
    }
    .container2-photo img{
        width: 100%;
        

    }
    .container2-text h5{
        color: coral;
        font-size: 17px;
        text-align: left;
    }

    .container2-text h2{
        color: white;
        margin-top: 20px;
        font-size: 35px;
        text-align: left;
    }
    .container2-text p{
        color: white;
        margin-top: 20px;
        text-align: left;
        font-size: 18px;
    }
    
    .container3{
        width: 100%;
        height: 600px;
        background-size: cover;
        background-size: center;
        background-image: url(./playing-online-game-in-computer-club.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container3 p{
        color: tomato;
    }
    .container3 h1{
        color: white;
        text-align: center;

    }
    .container3-inner{
        width: 500px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 35px;
    }
    
